numpy
pandas
python-dotenv
mysql-connector-python
pymysql
scikit-learn==1.5.2
seaborn

# It automatically trigger and execute setup.py witout executing manually pyton setup.py install 
# -e .

catboost
xgboost